# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
Algoritmos e Estruturas de Dados/Lista 1/Lista 1.docx
Algoritmos e Estruturas de Dados/Lista 1/Lista 1.pdf
Estatística/barplot3.png
Estatística/histograma3.png
Estatística/prova1.R
